# Firebase Service Account Path
FIREBASE_SERVICE_ACCOUNT_PATH=C:/PATH/TO/YOUR/serviceAccountKey.json

# ===== Stripe =====
STRIPE_SECRET_KEY=sk_test_51Qxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_PUBLIC_KEY=pk_test_51Qxxxxxxxxxxxxxxxxxxxxxxxx

# Gemini API
GEMINI_API_KEY=gemini_api_key_here

# Mail (Gmail SMTP)
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password

# Bouh Classifier mdoel API
EMOTION_CLASSIFIER_HOST=xxxx-xxxx-0000000000000.us-central1.run.app

# Google Cloud Storage Bucket
BUCKET_ADDRESS=xxxx-00000.firebasestorage.app

